*.dll
Makefile.win
build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
/mpMapInteractive.so
install_manifest.txt

CMakeFiles/
moc_*
mpMapInteractive.dll.*
mpMapInteractive.exp
mpMapInteractive.ilk
mpMapInteractive.lib
mpMapInteractive.pdb
Makefile